<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componentec-element">
  <template>
    <style>
      :host {
        display: block;
      }
      table, td, tr{
        border: 1px solid darkred;
        border-collapse: collapse;
      }
      td{
        padding: 5px 23px;
      }
    </style>
    <h1>{{title}}</h1>
    
    <table>
      <thead>
        <tr>
          <template is="dom-repeat" items="{{encabezado}}">
              <td>{{item}}</td>
          </template>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </template>

  <script>
    /**
     * `componentec-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentecElement extends Polymer.Element {
      static get is() { return 'componentec-element'; }
      static get properties() {
        return {
          title: {
            type: String
          },
          encabezado: {
            type: Array,
            value: ['ID','Titulo','Creador','Editorial','Compañia','Personaje']
          },
          registros: {
            type: Array,
          }
        };
      }
    }

    window.customElements.define(ComponentecElement.is, ComponentecElement);
  </script>
</dom-module>
